version: '3'
services:
  nginx:
    image: nginx:latest
    ports:
      - 8080:80
    networks:
      app_net:
        ipv4_address: 192.168.0.10
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./www/html:/var/www/html
    
    depends_on:
      - php
 
  php:
    build: ./php
    volumes:
      - ./www/html:/var/www/html
    networks:
      app_net:
        ipv4_address: 192.168.0.20
  db:
    image: mariadb:10.7
    networks:
      app_net:
        ipv4_address: 192.168.0.30
  
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: testdb
      MARIADB_USER: root
      MARIADB_PASSWORD: root
    volumes:
        - db-data:/var/lib/mysql
    ports:
      - 3306:3306
  phpmyadmin:
    image: phpmyadmin:5.2
    depends_on:
      - db
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - 8888:80
    networks:
      app_net:
        ipv4_address: 192.168.0.40
    volumes:
    - phpmyadmin-data:/sessions
  
volumes:
  db-data:
  phpmyadmin-data:

networks:
  app_net:
    driver: bridge
    ipam:
      driver: default
      config: 
        - subnet: 192.168.0.0/24